.link-buttoon  {
    text-decoration: none;
    display: block;
    width: 120px;
    height: 40px;
    background-color:  #000;
    color: #fff
    
}
.btn_link {
    text-decoration: none;
    color:#fff;
    display: block;
    width: 200px;
    height: 60px;
    border-radius: 10px;
    background-color: #553CE2;
    text-align: center;
    line-height: 60px;
    font-size: 1.2rem;
    margin-bottom: 50px;

}
.btn_link:hover {
    color: #FBFB8F;
}

.page-section.bg-primary {
    background-image: none;
}
.page-section .text-white {
    color: #000 !important;
    margin-bottom: 50px;
}
